[required] {
  border-color: #88a;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 255, .5);
}

:invalid {
  border-color: #e88;
  -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, .8);
}

input.invalid {
  background: url(error.png) no-repeat 4px 6px;
  padding-left: 30px;
}

/* Task list styling */

#addEntry {
  display: none;
}

div.buttonContainer {
  position: absolute;
  right: 0px;
  top: 3px;
  /*display: none;*/
}

.item_row {
  height: 26px;
}

.item_row_id {
  display: none;
}

#edit_id {
  display: none;
}

.ui-btn-icon-right .ui-btn-inner {
  padding: 4px 8px;
}

div.completed {
  text-decoration: line-through !important;
  color: #c8c8c8 !important;
}

/* Jump page */

#jump {
  -webkit-box-shadow: inset 0 0 10px #000000;
}

div.week {

}

a.day {
  float: left;
  display: block;
  width: 14%;
  padding: 22px 0;
  text-align: center;
  color: #fff !important;
  text-shadow: 0 1px 0 #333 !important;
  text-decoration: none !important;
}

a.day:first-child, a.day:last-child {
  width: 15%;
}

a.current {
  color: #61a3d6 !important;
}

a.day:after {
  clear: both;
}

a.name {
  color: #92969a !important;
}

/* END jump page */