[required] {
  border-color: #88a;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 255, .5);
}

:invalid {
  border-color: #e88;
  -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, .8);
}

input.invalid {
  background: url(error.png) no-repeat 4px 6px;
  padding-left: 30px;
}

/* Task list styling */

#addEntry {
	display: none;
}

div.week {
	margin-left: 0;
	margin-right: 0;
}

a.day {
	float: left;
	display: block;
	width: 14%;
	padding: 10px 0;
	text-align: center;
	background: #c8c8c8;
}

a.day:after {
	clear: both;
}

div.buttonContainer {
	position: absolute;
	right: 0px;
	top: 3px;
	display: none;
}

.ui-btn-icon-right .ui-btn-inner {
    padding: 4px 8px;
}

a.completed {
	text-decoration: line-through !important;
	color: #c8c8c8 !important;
}