<div data-role="fieldcontain">
  <fieldset data-role="controlgroup">
    <label for="textinput3">
      Username
    </label>
    <input id="textinput3" placeholder="" value="" type="text"/>
  </fieldset>
</div>
<div data-role="fieldcontain">
  <fieldset data-role="controlgroup">
    <label for="textinput4">
      Password
    </label>
    <input id="textinput4" placeholder="" value="" type="password"/>
  </fieldset>
</div>
<input type="submit" value="Submit"/>
