%div(data-role="page" id="home")
  = haml :header

  %h2 Todo list
  %ul(data-role="listview" data-theme="b" id="todos")

  %h2 Motions
  %label(for="sliderX")
    X Acceleration (Roll)
  %input(type="range" name="sliderX" id="sliderX" value="0" min="-10" max="10" data-theme="a")
  %label(for="sliderY")
    Y Acceleration (Pitch)
  %input(type="range" name="sliderY" id="sliderY" value="0" min="-10" max="10" data-theme="b")
  %label(for="sliderZ")
    Z Acceleration (<strike>Yaw</strike> Face up/down)
  %input(type="range" name="sliderZ" id="sliderZ" value="0" min="-10" max="10" data-theme="c")

  %div(style="text-align:center;margin-top:10px;")
    %canvas(id="c" width="100" height="100")

  = haml :footer
