%div(data-role="page" id="home")

  %div(data-role="header" data-position="fixed")
    %a( id="addLink" href="#" data-theme="a" data-icon="plus" data-iconpos="notext" data-transition="slide") Add
    %h1 Today, May 7th
    %a(href="#jump" data-icon="grid" data-iconpos="notext" data-transition="slide") Jump
 
  #addEntry
    %form
      %input(type="text" value="Entry name here...")
      %input(type="submit" value="add")
 
  %ul(data-role="listview" data-theme="c" id="todosList")
    %li(data-theme="c" data-icon="false")
      %a(href="#" id="item") Osta ruokaa 2
      %div(class="buttonContainer")
        %a(href="#" data-role="button" data-inline="true" data-mini="true")Edit
        %a(href="#" data-role="button" data-inline="true" data-theme="b" data-mini="true")Delete
        
  %script(type="text/javascript")
    $('#addEntry').noisy({
    'intensity' : 5, 
    'size' : '200', 
    'opacity' : 0.04, 
    'fallback' : '', 
    'monochrome' : true
    }).css('background-color', '#1b1c1e');
          
/Start show page
          
%div(data-role="page" id="show")
  = haml :header

  %h2#show_title Show todo
  %p
    Implement.

  = haml :footer
  
/Start jump page

%div(data-role="page" id="jump")

  %div(data-role="header")
    %a(href="#add" data-icon="plus" data-iconpos="notext" data-transition="slide")Add
    %h1 May 2012
    %a(href="#home" data-icon="grid" data-iconpos="notext" data-transition="slide" data-theme="b" data-direction="reverse")Jump
    
  #jump-container(data-role="content")
    .week
      %a.day.name(href="#")Mon
      %a.day.name(href="#")Tue
      %a.day.name(href="#")Wed
      %a.day.name(href="#")Thu
      %a.day.name(href="#")Fri
      %a.day.name(href="#")Sat
      %a.day.name(href="#")Sun
    .week
      %a.day(href="#")  
      %a.day(href="#") 1
      %a.day(href="#") 2
      %a.day(href="#") 3
      %a.day(href="#") 4
      %a.day(href="#") 5
      %a.day(href="#") 6
    .week
      %a.day(href="#") 7
      %a.day(href="#") 8
      %a.day(href="#") 9
      %a.day.current(href="#") 10
      %a.day(href="#") 11
      %a.day(href="#") 12
      %a.day(href="#") 13
    .week
      %a.day(href="#") 14
      %a.day(href="#") 15
      %a.day(href="#") 16
      %a.day(href="#") 17
      %a.day(href="#") 18
      %a.day(href="#") 19
      %a.day(href="#") 20
    .week
      %a.day(href="#") 21
      %a.day(href="#") 22
      %a.day(href="#") 23
      %a.day(href="#") 24
      %a.day(href="#") 25
      %a.day(href="#") 26
      %a.day(href="#") 27
    .week
      %a.day(href="#") 28
      %a.day(href="#") 29
      %a.day(href="#") 30
      %a.day(href="#") 31
      %a.day(href="#")  
      %a.day(href="#")  
      %a.day(href="#")  
  
  %script(type="text/javascript")
    $('#jump').noisy({
    'intensity' : 5, 
    'size' : '200', 
    'opacity' : 0.04, 
    'fallback' : '', 
    'monochrome' : true
    }).css('background-color', '#1b1c1e');
  
/Start motions page
  
%div(data-role="page" id="motions")
  = haml :header

  %h2 Motions
  %a(href="#add")
    Add todo
  %label(for="sliderX")
    X Acceleration (Roll)
  %input(type="range" name="sliderX" id="sliderX" value="0" min="-10" max="10" data-theme="a")
  %label(for="sliderY")
    Y Acceleration (Pitch)
  %input(type="range" name="sliderY" id="sliderY" value="0" min="-10" max="10" data-theme="b")
  %label(for="sliderZ")
    Z Acceleration (<strike>Yaw</strike> Face up/down)
  %input(type="range" name="sliderZ" id="sliderZ" value="0" min="-10" max="10" data-theme="c")

  %div(style="text-align:center;margin-top:10px;")
    %canvas(id="c" width="100" height="100")

  = haml :footer
