#home(data-role="page"  data-title="Feeltask")

  %div(data-role="header" data-position="fixed")
    %a#addLink(href="#" data-theme="a" data-icon="plus" data-iconpos="notext" data-transition="slide") Add
    %h1#home_title Today, May 7th
    %a(href="#jump" data-icon="grid" data-iconpos="notext" data-transition="slide") Jump
 
  #addEntry
    %form#add_entry_form
      %input#new_desc(type="text" placeholder="Todo description here...")
      %input(type="submit" value="Add")
 
  %ul#todosList(data-role="listview" data-theme="c")
    %li.animated.bounceInLeft Loading todos, please wait...
  #basic_help
    %h2 Help
    %ul
      %li Swipe right = mark as done
      %li Swipe left = Get operations
      %li Shake = reload todos

/Start edit page

#edit(data-role="page")
  = haml :header

  %h2 Edit todo
  %form#edit_todo_form
    %input#edit_id(type="text")
    %label Description
    %input#edit_description(type="text")
    %label Location (address)
    %input#edit_location(type="text")
    %input(type="submit" data-theme="b" value="Update")
    %a(href="#home" data-icon="delete" data-theme="a" data-role="button") Cancel

  = haml :footer
  
/Start jump page

#jump(data-role="page" data-title="Select date - Feeltask")
  %div(data-role="header")
    %a(href="#home" data-icon="arrow-l" data-iconpos="notext" data-transition="slide" data-direction="reverse")Jump
    %h2#jump_month_title dynamically month
    
  #jump-container(data-role="content")
    .week.week_titles
      %a.day.name Mon
      %a.day.name Tue
      %a.day.name Wed
      %a.day.name Thu
      %a.day.name Fri
      %a.day.name Sat
      %a.day.name Sun
    #weeks
    
#map(data-role="page" data-title="show directions")
  %div(data-role="header")
    %h2 Map
    
  %div#mapview(data-role="content")
    %div#method
    %div#map
    %div#route
