!!! 5
%html(manifest="/manifest.appcache")
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %link(rel="stylesheet" href="jquery.mobile-1.0.1.min.css")
    %script(type="text/javascript" src="jquery-1.7.1.min.js")
    %script(type="text/javascript" src="jquery.mobile-1.0.1.min.js")
    %title
      Feeltask
    :css
      [required] {
        border-color: #88a;
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 255, .5);
      }
      :invalid {
        border-color: #e88;
        -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, .8);
      }
      input.invalid {
        background: url(error.png) no-repeat 4px 6px;
        padding-left: 30px;
      }
      
    :javascript
      var loadTodos = function () {
        console.log("Loading todos...");
        var output = '';
        $.getJSON("http://feeltask.cloudfoundry.com/todos.json",
                function (data) {
                  console.log("Todos JSON returned, rendering.");
                  $.each(data.todos, function (index, todo) {
                    output += '<li>' + todo.description + '</li>';
                  });
                  $('#todos').append(output).find('ul').listview('refresh');
                });
      };

      function onDeviceMotion(event) {
        var ctx = document.getElementById("c").getContext("2d");
        var accel = event.accelerationIncludingGravity;
        $("#sliderX").val(Math.round(accel.x)).slider("refresh");
        $("#sliderY").val(Math.round(accel.y)).slider("refresh");
        $("#sliderZ").val(Math.round(accel.z)).slider("refresh");
        var angle = Math.atan2(accel.y, accel.x)
        ctx.clearRect(0, 0, 100, 100);
        ctx.beginPath();
        ctx.arc(50, 50, 5, 0, 2 * Math.PI, false);
        ctx.moveTo(50, 50);
        ctx.lineTo(50 - 50 * Math.cos(angle), 50 + 50 * Math.sin(angle));
        ctx.stroke();
      }

      $(document).ready(function () {
        loadTodos();
        window.addEventListener("devicemotion", onDeviceMotion, false);
      });
  %body
    = yield

        
        
