!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta(name="apple-mobile-web-app-status-bar-style" content="default")
    %script(type="text/javascript" src="/jquery-1.7.1.min.js")
    %script(type="text/javascript" src="/jquery.mobile-1.1.0.min.js")
    %script(type="text/javascript" src="/jquery.noisy.min.js")
    / http://www.datejs.com/2007/11/27/getting-started-with-datejs/
    %script(type="text/javascript" src="/date.js")
    %script(type="text/javascript" src="/handlebars-1.0.0.beta.6.js")
    %script(type="text/javascript" src="/underscore.js")
    %script(type="text/javascript" src="/json2.js")
    %script(type="text/javascript" src="/backbone.js")
    %script(type="text/javascript" src="/ft_tools.js")
    %script(type="text/javascript" src="/feeltask_frontend.js")
    %script(type="text/javascript" src="/jump_calendar.js")
    %script(type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/noisy/1.1/jquery.noisy.min.js")
    %script(type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true")
    %script(type="text/javascript" src="http://www.google.com/jsapi")
    %script(type="text/javascript" src="/geolocation.js")
    %link(rel="stylesheet" href="/jquery.mobile-1.1.0.css")
    %link(rel="stylesheet" href="/jquery.mobile.structure-1.1.0.css")
    %link(rel="stylesheet" href="/feeltask_frontend.css")
    %link(rel="icon" type="image/png" href="/images/favicon-32x32.png")
    %title Feeltask
  %body
    = haml :templates
    = yield
    :javascript
      var pkBaseURL = (("https:" == document.location.protocol) ? "https://hyvahuolto.fi/piwik-stats/" : "https://hyvahuolto.fi/piwik-stats/");
      document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
      var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 4);
      piwikTracker.trackPageView();
      piwikTracker.enableLinkTracking();
      } catch( err ) {}
    %noscript
      %p
        %img{:alt => "", :src => "http://hyvahuolto.fi/piwik-stats/piwik.php?idsite=4", :style => "border:0"}/

        
        
