%script#todo(type="text/x-handlebars-template")
  .item_row_id.hidden {{id}}
  .item_row_text {{description}}
  .buttonContainer
    %a.item_btn.item_btn_edit{:href=>"#","data-role"=>"button", "data-id"=>"{{id}}", "data-inline"=>"true", "data-mini"=>"true","onClick"=>"sessionStorage.setItem(\'id\','{{id}}');"} Edit
    %a.item_btn.item_btn_delete{:href=>"#","data-role"=>"button", "data-id"=>"{{id}}", "data-theme"=>"b", "data-inline"=>"true", "data-mini"=>"true","onClick"=>"sessionStorage.setItem(\'id\','{{id}}');"} Delete